{% extends "website/base.html" %}

{% block content %}

<section class="hero">
    <div class="hero-content">

        <h1>Build Academic Excellence with Sure Success</h1>

        <p>
            WAEC • NECO • JAMB • IGCSE • GCSE • IB • SAT • IELTS • TOEFL • A-LEVEL • GRE • GMAT
        </p>

        <div class="hero-buttons">
            <a href="/contact/" class="btn-primary">Enroll Now</a>
            <a href="/programs/" class="btn-secondary">Explore Programs</a>
        </div>

    </div>
</section>

{% endblock %}