{% extends "website/base.html" %}

{% block content %}

<section class="hero" style="height: 50vh;">
    <div class="hero-content">

        <h1>Our Programs</h1>
        <p>WAEC • NECO • JAMB • IGCSE • GCSE • IB • SAT • IELTS • TOEFL • A-LEVEL • GRE • GMAT</p>

    </div>
</section>

<section>
    <div class="grid">

        <div class="card">WAEC / NECO / JAMB</div>
        <div class="card">IGCSE / GCSE</div>
        <div class="card">IB (International Baccalaureate)</div>
        <div class="card">SAT / PSAT</div>
        <div class="card">IELTS / TOEFL</div>
        <div class="card">A-LEVEL</div>
        <div class="card">GRE / GMAT</div>

    </div>
</section>

{% endblock %}
